#navbar{
  background-color: rgba(0,0,0,0.5);
  margin-bottom: 40px;
}

#navbar a{
  color:white;
  font-weight: bold;
}

#navbar a:hover{
  color: white;
  text-decoration: underline;
}

.navbar-toggler{
  background-color: white;
}

body {
  background-image: url('../../../assets/imgs/admin-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white
}
